.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  font-family: 'Press Start 2P', cursive;

  .main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-height: 80%;
  }

  .title-container {
    width: 100%;
    padding-top: 0.5rem;
    margin-bottom: 2rem;
    height: 3rem;
    font-size: 2.25rem;
    color: rgb(252, 252, 67);
  }

  .maze-container {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    position: relative;
    border: 3px solid rgb(135, 255, 56);

    .win-img {
      height: 100%;
      width: 100%;
    }

    .box {
      background-size: contain;
      box-sizing: border-box;
    }

    .ground {
      background-color: black;
      box-sizing: border-box;
    }

    .wall {
      background-image: url('../src/images/wall.png');
      
      border: 2px solid black;
    }

    .player {
      background-image: url('../src/images/t-rex.jpeg');
      z-index: 5;
      background-size: contain;
      box-sizing: border-box;
    }

    .coin {
      background-image: url('../src/images/coin.jpg');
      border: 2px solid black;
    }

    .treasure {
      background-image: url('../src/images/treasure.jpg');
      border: 1px solid black;
    }
  }

  .score {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    color: rgb(252, 252, 67);
  }

  .section-2 {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 6rem;

    .btn-container {
      height: 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .btn {
      background-color: rgb(7, 218, 7);
      color: black;
      width: 12rem;
      height: 2.5rem;
      font-size: 1rem;
      display: table-cell;
      display: table-cell; 
      vertical-align: middle;  
      padding-top: 1rem;
      margin-bottom: 1rem;
      margin-top: 1rem;
    }

  }

}

