.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .title-container {
    padding-top: 10px;
    height: 50px;
  }

  .maze-container {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    position: relative;
    border: 2px solid rgb(255, 138, 29);
    height: 500px; 
    width: 650px;

    .ground {
      height: 50px;
      width: 50px;
      background-color: black;
    }

    .wall {
      height: 50px;
      width: 50px;
      background-image: url('../src/images/wall.png');
      background-size: contain;
      box-sizing: border-box;
      border: 2px solid black;
    }

    .player {
      height: 50px;
      width: 50px;
      background-color: rgb(88, 197, 15);
      background-image: url('../src/images/t-rex.jpeg');
      background-size: contain;
      z-index: 5;
    }

    .coin {
      height: 50px;
      width: 50px;
      background-image: url('../src/images/coin.jpg');
      background-size: contain;
      box-sizing: border-box;
      border: 2px solid black;
    }
  }



}

